#drag-container {
	position: absolute;
	border: 2px solid #888;
	background-color: #fff;
	cursor: grabbing;
	z-index: 9999999;
	user-select: none;
	opacity: 0.8;
	margin: 0;
}

.draggable-object {
	cursor: pointer;
	padding: 0.5em 1em;
	margin: 1em;
	width: calc(var(--simutrans-paktype) + 2em + 2px);
	word-wrap: break-word;
	border: 2px solid #ccc;
	background-color: #f5f5f5;
	user-select: none;
}

.draggable-object.no-drag {
	cursor: auto;
}

.draggable-object>p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 75%;
	width: 100%;
	overflow-x: hidden;
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.draggable-object.selected-origin {
	opacity: 0.5;
}

.drag-target {
	background-color: #c7def5 !important;
}

#constraint-container>div:nth-child(2).drag-target {
	border: 2px solid var(--formation-table-main-border);
	background-color: #fff !important;
}

#addons-list.drag-target-candidate {
	background-color: #ffebeb !important;
}

#addons-list.drag-target-candidate>* {
	opacity: 0.3;
}

#addons-list.drag-target-candidate::before {
	display: block;
	position: absolute;
	top: calc(50% + 58px);
	left: 50%;
	color: #f00;
	transform: translate(-50%, 0);
	content: 'ここにドロップして連結設定を削除';
	font-size: 18px;
	font-weight: bold;
	opacity: 1;
	z-index: 2;
}

#addons-list.drag-target-candidate::after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #f00;
	transform: translate(-50%, -50%);
	content: 'delete';
	font-size: 128px;
	font-family: 'LigatureSymbols';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1;
	-o-font-feature-settings: "liga" 1, "dlig" 1;
	font-feature-settings: "liga" 1, "dlig" 1;
	font-weight: 100;
}

#addons-list.drag-target-candidate.drag-target {
	background-color: #ffacac !important;
}