:root {
	--main-padding: 2.0em;
	--simutrans-transparent: #e7ffff;
	--simutrans-paktype: 128px;
	--small-preview-ratio: 1;
}

body {
	background: #ddd;
}

/* 画像なし画像 */
.noimage {
	margin-top: 2.0em;
}

/* ヘッダ */
header {
	z-index: 99998;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	margin: 0;
	margin-bottom: 2.0em;
	padding: 0.8em var(--main-padding);
	border-bottom: 1px solid var(--formation-table-main-border);
	display: flex;
}

header>div.button-group {
	display: flex;
}

header>div.button-group:not(:last-child) {
	margin-right: 1.0em;
	padding-right: 0.25em;
	border-right: 1px solid #bbb;
}

header div.button-outer {
	margin-right: 0.75em;
}

header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-parent-button {
	padding: 4px 6px;
	background-color: var(--button-face);
	border: 1px solid var(--button-face);
}

header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-parent-button:hover {
	background-color: var(--button-face-hover);
}

header>div.button-group div.button-outer .mku-drop-menu-container:has(input.mku-drop-menu-checkbox:checked) .mku-drop-parent-button {
	color: var(--button-face);
	background-color: #fff !important;
}

header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-container {
	border: 1px solid #333;
}

header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-container button:not(:last-child) {
	border-bottom: 1px solid #777 !important;
}

header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-container button {
	font-size: 11pt;
	background-color: #fff;
	color: var(--button-face);
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	padding: 6px 6px;
	text-align: left;
}

header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-container button:hover {
	background-color: var(--table-alternate-color-2);

}

header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-container button::before {
	display: inline-block;
	width: 1.0em;
}

header>div.button-group div.button-outer .mku-drop-menu-container:has(input.mku-drop-menu-checkbox:disabled) .mku-drop-parent-button,
header>div.button-group div.button-outer .mku-drop-menu-container .mku-drop-container button:disabled {
	pointer-events: none !important;
	background-color: #ddd !important;
	border-color: #ccc;
	color: #777 !important;
}

/* メイン画面 */
select#carsSelectBox {
	max-width: calc(100vw / 3 - 12em);
}

#constraint-container {
	column-count: 3;
	column-gap: 1.6em;
	padding: 0 var(--main-padding);
	margin-top: 1em;
	margin-bottom: 3em;
}

#constraint-container>div {
	page-break-inside: avoid;
	break-inside: avoid;
	break-before: column;
	height: calc(100vh - 18.5em - var(--simutrans-paktype));
	border: 1px solid var(--formation-table-main-border);
	padding: 1.0em;
	background-color: #fff;
}

#constraint-container>div:nth-child(2) {
	text-align: center;
	overflow-y: hidden;
}

#constraint-container>div.constraint-view {
	overflow-y: scroll;
}

#constraint-container>div.constraint-view>ul {
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}

#constraint-container>div.constraint-view>ul>li.draggable-object {
	list-style: none;
}

#constraint-container>div p {
	margin-top: 0;
}

#constraint-container>div p#prop-controller {
	margin: 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 1em;
	padding-bottom: 1em;
	position: sticky;
	margin-top: 0.5em;
	bottom: 0;
}

.image-container {
	display: inline-block;
	user-select: none;
	border: 1px solid var(--formation-table-main-border);
	width: var(--simutrans-paktype);
	height: var(--simutrans-paktype);
	background-color: var(--simutrans-transparent);
	overflow: hidden;
	background-repeat: no-repeat;
}

.image-container.no-image {
	background-position: center;
	background-size: 50%;
}

#constraint-container>div:nth-child(2) #main-image-container .image-container {
	cursor: pointer;
}

#constraint-container>div:nth-child(2) #main-proptable-container {
	height: calc((100vh - 18.5em - var(--simutrans-paktype)) - var(--simutrans-paktype) - 7.5em);
	overflow-y: scroll;
	border: 1px solid var(--formation-table-main-border);
	margin-top: 1em;
}

#constraint-container>div:nth-child(2) #main-proptable-container table {
	width: 100%;
	border-collapse: collapse;
}

#constraint-container>div:nth-child(2) #main-proptable-container table td:first-child {
	text-align: right;
	font-weight: bold;
}

#constraint-container>div:nth-child(2) #main-proptable-container table td:first-child,
#constraint-container>div:nth-child(2) #main-proptable-container table td:last-child {
	width: max-content;
	text-wrap: nowrap;
}

#constraint-container>div:nth-child(2) #main-proptable-container table td:nth-child(2) {
	text-align: left;
	width: 100%;
	text-wrap: wrap;
}

#constraint-container>div:nth-child(2) #main-proptable-container table td:last-child {
	color: #f00;
	font-size: 75%;
}

#constraint-container>div:nth-child(2) #main-proptable-container table td:last-child button {
	font-size: 12pt;
	padding: 1px 8px;
}

#constraint-container>div:nth-child(2) #main-proptable-container table th,
#constraint-container>div:nth-child(2) #main-proptable-container table td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
	font-size: 75%;
}

#constraint-container>div:nth-child(2) #main-proptable-container table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#constraint-container>div:nth-child(2) #main-proptable-container table input,
#constraint-container>div:nth-child(2) #main-proptable-container table .input-textbox {
	width: 100%;
	font-size: 9pt;
}

/* 選択中のアドオン */
#addons-list .draggable-object.editing {
	border: 2px solid var(--formation-table-main-border);
}

/* フッタ */
footer {
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	margin: 0;
	margin-bottom: 0;
	padding: 0.8em var(--main-padding);
	border-top: 1px solid var(--formation-table-main-border);
}

footer p {
	margin-top: 0;
}

footer #addons-list {
	border: 1px solid var(--formation-table-main-border);
	display: flex;
	width: 100%;
	overflow-x: scroll;
	min-height: var(--simutrans-paktype);
}

footer #addons-list>div.draggable-object:not(:last-child) {
	margin-right: 0;
}

/* ダイアログ */


.dialog-area .dialog-content>div.dialog-main-message>p:first-child {
	margin-top: 0;
}

#infoDialog,
#alertDialog,
#confirmDialog {
	top: 25%;
}

/* 初期ダイアログ */
#helloDialog {
	height: 90vh;
	top: 5vh;
}

#helloDialog .dialog-main-message {
	max-height: unset;
}

#helloDialog #hello-menu {
	display: flex;
	width: calc(100vw - 20em);
	justify-content: space-around;
}

#helloDialog #hello-menu>div.hello-menu-container {
	display: block;
	user-select: none;
	border: 2px solid var(--formation-table-main-border);
	text-align: center;
	padding: 1em 2em;
	margin: 15vh 3em;
	width: 35vh;
	background-color: var(--table-alternate-color-1);
	cursor: pointer;
	border-radius: 5px;
}

#helloDialog #hello-menu>div.hello-menu-container:hover {
	background-color: var(--sub-light-color);
}

#helloDialog #hello-menu>div.hello-menu-container>div>img {
	width: 100%;
}

#helloDialog #hello-menu>div.hello-menu-container>p {
	margin: 0;
	font-size: 95%;
}

#helloDialog #hello-menu>div.hello-menu-container>p.title {
	font-size: 130%;
	font-weight: bold;
}


/* DATを開くダイアログ*/
#openDatFileDialog .filefield,
#openJaTabFileDialog .filefield {
	min-width: 100%;
	width: 60vw;
	height: 45vh;
	text-align: center;
	border: dashed var(--formation-table-main-border);
}

/* プレビューダイアログ */
#previewDialog div.dialog-main-message:has(.dialog-preview) {
	padding: 1.0em;
	margin: 0 1.8em;
	border: solid 1px var(--formation-table-main-border);
}

/* 画像ファイル指定ダイアログ */

#selectImageDialog #selected-image-preview {
	text-align: center;
	border: 1px solid var(--formation-table-main-border);
	background-color: var(--simutrans-transparent);
	width: calc(var(--simutrans-paktype) * 8 + var(--scrollbar-width));
	height: 50vh;
	overflow-x: hidden;
	overflow-y: scroll;
	user-select: none;
}

#selectImageDialog #image-file-input,
#addCarDialog #new-car-img-file {
	display: none;
}

#selectImageDialog .drag-target>img {
	opacity: 50%;
}

/* 車両に画像指定ダイアログ */
#editImageDialog div.dialog-main-message {
	padding: 1.0em;
	margin: 0 1.8em;
	border: solid 1px var(--formation-table-main-border);
}

#editImageDialog .input-area {
	margin-bottom: 1em;
	width: 600px;
	position: sticky;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 2;
}

#editImageDialog .input-area td:first-child {
	width: 6em;
}

#editImageDialog select {
	width: calc(600px - 12.5em);
}

#editImageDialog #direction-selectbox {
	width: unset;
}

#editImageDialog #addon-image-preview {
	text-align: center;
}

#editImageDialog #addon-image-preview .image-container {
	text-align: left;
	padding: 0.5em;
}

#editImageDialog #addon-image-whole-preview {
	width: 600px;
	position: relative;
	background-color: var(--simutrans-transparent);
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
}

#editImageDialog #addon-image-whole-preview.on {
	display: block;
}

#editImageDialog #addon-image-whole-preview .addon-image-whole-preview-position-pointer {
	position: absolute;
	border: 2px solid #f00;
	display: none;
	cursor: default;
}

#editImageDialog #addon-image-whole-preview .addon-image-whole-preview-position-pointer.cursor {
	border: 2px solid #00f;
	cursor: pointer;
}

#editImageDialog #addon-image-whole-preview .addon-image-whole-preview-position-pointer.on {
	display: block;
}

#couplingPreviewDialog {
	width: 100vw;
}

#couplingPreviewDialog {
	width: 100vw;
}

#couplingPreviewDialog div.dialog-main-message {
	padding: 0;
	margin: 0 1.8em;
	border: solid 1px var(--formation-table-main-border);
	height: calc(100vh - 25em);
	overflow-y: scroll;
}

#couplingPreviewDialog div.dialog-main-message>div:first-child {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #ccc;
	position: sticky;
	top: 0;
	left: 0;
	padding: 1em;
}

#couplingPreviewDialog div.dialog-main-message>div:last-child {
	padding: 1em;
}

#couplingPreviewDialog div.dialog-main-message>div:first-child>p {
	margin-top: 0;
}

#couplingPreviewDialog div.dialog-main-message>div:first-child>.cars-container {
	flex-wrap: nowrap;
	overflow-x: scroll;
}

#couplingPreviewDialog div.dialog-main-message>div:first-child>.cars-container .outer {}


#couplingPreviewDialog div.dialog-main-message p {
	margin-bottom: 0;
}

#couplingPreviewDialog .cars-container {
	display: flex;
	flex-wrap: wrap;
}

#couplingPreviewDialog #preview-current-formation .outer,
#couplingPreviewDialog #preview-current-candidate .outer {
	margin: 10px;
	width: calc(var(--simutrans-paktype) * var(--small-preview-ratio) + 2px);
	height: calc(var(--simutrans-paktype) * var(--small-preview-ratio) + 2px);
	border: 1px solid var(--simutrans-transparent);
}

#couplingPreviewDialog #preview-current-formation .outer.dummy {
	border-color: transparent;
}

#couplingPreviewDialog #preview-current-formation .outer:not(.dummy):last-child,
#couplingPreviewDialog #preview-current-candidate .outer {
	cursor: pointer;
	border: 1px solid #000;
}

#couplingPreviewDialog #preview-current-formation .outer:not(.dummy):last-child:hover,
#couplingPreviewDialog #preview-current-candidate .outer:hover {
	border-color: #f00;
}

#couplingPreviewDialog #preview-current-formation .outer .image-container,
#couplingPreviewDialog #preview-current-candidate .outer .image-container {
	transform-origin: left top;
	border: none;
}

#couplingPreviewDialog button#clear-preview-formation-button {
	margin-left: 0.8em;
}

.status-bar {
	position: sticky;
	bottom: 0;
	left: 0;
	padding: 0.5em;
	width: 100%;
	min-height: 4em;
	background-color: rgba(255, 255, 255, 0.9);
	border-top: 1px solid #ccc;
}

#formatedAddonsImageDialog .dialog-main-message {
	text-align: center;
}

#formatedAddonsImageDialog p {
	margin-top: 0;
}

#formatedAddonsImageDialog canvas {
	margin-bottom: 2em;
	margin-top: 1em;
}

#formatedAddonsImageDialog p #formated-addons-space {
	width: 4em;
}

#carListDialog #car-list-table-container {
	border: 2px solid var(--formation-table-main-border);
	height: calc(100vh - 25em);
	overflow-y: scroll;
}

.generated-table-container:has(#carListDialog #car-list-table-container table) {
	height: 50vh;
	overflow-y: scroll;
}

#carListDialog #car-list-table-container table {
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	min-width: 820px;
}

#carListDialog #car-list-table-container table tr:nth-child(1) {
	text-align: center;
	font-weight: bold;
	background-color: var(--formation-table-main-border) !important;
	position: sticky;
	top: 0;
	left: 0;
}

#carListDialog #car-list-table-container table tr:nth-child(1) td {
	border-bottom: var(--formation-table-main-border) 2px solid;
}

table.horizontal-stripes tr:nth-child(2n) {
	background-color: var(--table-alternate-color-1);
}

table.horizontal-stripes tr:nth-child(2n+1) {
	background-color: var(--table-alternate-color-2);
}

table.row-hover-hilight tr:hover {
	background-color: var(--selection-hover-highlight) !important;
}

#carListDialog #car-list-table-container table tr td:first-child {
	padding: 0;
	width: 1.5em;
}

#carListDialog #car-list-table-container table tr td:last-child {
	width: 13.1em;
}

#carListDialog #car-list-table-container table tr td:last-child {
	border-right: none;
}

#carListDialog #car-list-table-container table input,
#carListDialog #car-list-table-container table tr:not(:nth-child(1)) {
	cursor: pointer;
}

#carListDialog #car-list-table-container table tr td:first-child,
#carListDialog #car-list-table-container table tr td:last-child {
	cursor: auto;
}

#carListDialog #car-list-table-container table tr td:nth-child(2) {
	width: 5em;
	text-align: right !important;
	padding-right: 1em;
}

#carListDialog #car-list-table-container table tr td:nth-child(3) {
	width: 20em;
}

#carListDialog #car-list-table-container table tr td:nth-child(4) {
	width: 20em;
}

#carListDialog #car-list-table-container table tr td:nth-child(4).text-center {
	text-align: center !important;
}

#carListDialog #car-list-table-container table tr td:last-child {
	width: 5em;
}

#carListDialog #car-list-table-container table tr td:last-child button {
	font-size: 11pt;
}

#carListDialog #car-list-table-container table tr td:last-child button:not(:last-child) {
	margin-right: 0.5em;
}

#carListDialog #car-list-table-container table tr:nth-child(1) td {
	color: #fff;
}

#carListDialog #car-list-table-container table tr:not(:nth-child(1)) td:last-child {
	text-align: center;
}

#carListDialog #car-list-table-container table tr td:first-child {
	text-align: center;
}

#carListDialog #car-list-table-container table tr:not(:nth-child(1)) td:not(:first-child) {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}


#carListDialog #car-list-table-container table tr:not(:nth-child(1)):has(input:checked) {
	background-color: var(--selection-highlight) !important;
}

#carListDialog #car-list-table-container table tr:has(input:checked) td {
	color: #fff;
}

#addCarDialog div.or {
	font-size: 80%;
	margin: 0.5em 0;
}

#addCarDialog #new-car-img-file-name-preview {
	font-size: 80%;
	margin-left: 0.7em;
}

#addCarPropertyDialog .suggestion-box {
	position: fixed;
	transform-origin: top center;
	transform: scaleY(0);
	transition: 150ms ease all 0s;
	height: 15em;
	overflow-y: scroll;
	background-color: #fff;
	border: 1px solid #333;
	min-width: 20em;
}

#addCarPropertyDialog .suggestion-box:not(.unavailable).on {
	transform: scaleY(1);
}

#addCarPropertyDialog .suggestion-box>div {
	cursor: pointer;
	padding: 0.25em;
	user-select: none;
}

#addCarPropertyDialog .suggestion-box>div:hover {
	background-color: var(--selection-hover-highlight);
}

#addCarPropertyDialog .suggestion-box>div.selected {
	background-color: var(--selection-highlight);
	pointer-events: none;
	color: #fff;
}

#addCarPropertyDialog .warning {
	margin-bottom: 0;
}

#copyCarDialog .dialog-main-message>div {
	display: flex;
}

#copyCarDialog .dialog-main-message>div.properties-container>div#copy-taishou-properties {
	max-width: calc(70vw - 14em);
}

#copyCarDialog .dialog-main-message>div.properties-container label {
	display: inline-block;
	margin-left: 1em;
}


#copyCarDialog .dialog-main-message>div.properties-container label input {
	vertical-align: middle;
	cursor: pointer;
}

#copyCarDialog .dialog-main-message>div.properties-container label:has(input:disabled) {
	pointer-events: none;
}

#copyCarDialog .dialog-main-message>div.list-container {
	margin-top: 1.5em;
	align-items: center;
}

#copyCarDialog .dialog-main-message>div.list-container>div:nth-child(2) {
	width: 2em;
	text-align: center;
}

#copyCarDialog .dialog-main-message>div.list-container>div:not(:nth-child(2)) {
	width: calc((100% - 2em) / 2);
}

#copyCarDialog .dialog-main-message>div#copy-addon-names-list-container>div:not(:nth-child(2)) {
	border: 2px solid var(--formation-table-main-border);
	height: calc(80vh - 25em);
	overflow-y: scroll;
}

#copyCarDialog .dialog-main-message>div.list-container ul {
	padding-left: 0;
	margin: 0;
}

#copyCarDialog .dialog-main-message>div.list-container li {
	list-style: none;
	background-color: var(--table-alternate-color-1);
}

#copyCarDialog .dialog-main-message>div.list-container li:nth-child(even) {
	background-color: var(--table-alternate-color-2);
}

#copyCarDialog .dialog-main-message>div.list-container input {
	width: 100%;
	width: --webkit-fill-available;
}

/* メッセージ */
.message-content.dat-file-loaded {
	top: calc(40px + 0em);
}

.message-content.image-file-loaded,
.message-content.file-saved,
.message-content.normal-message {
	top: calc(40px + 4.5em);
}

.message-content.tab-file-loaded {
	top: calc(40px + 9.0em);
}