#addCarDialog {
	& table.input-area {
		width: 100%;

		& td:first-child {
			width: 8.5em;
		}

		& input,
		& select {
			width: 100%;
			width: -webkit-fill-available;
		}

		#new-car-img-file-name-preview {
			display: block;
			margin-top: 0.5em;
			font-size: 80%;
		}

		& div.off {
			display: none;
		}
	}
}

#addCarPropertyDialog .warning {
	margin-bottom: 0;
}