#formatedAddonsImageDialog {
	.dialog-main-message {
		text-align: center;
	}

	#formated-image-controls {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 0.85rem;
		padding: 0.3em 0;

		& label {
			cursor: pointer;
		}
	}

	& p {
		margin-top: 0;

		#formated-addons-space {
			width: 4em;
		}
	}

	& canvas {
		margin-bottom: 2em;
		margin-top: 1em;
	}
}