#formationTemplateDialog {
	& #formation-templates-area {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 1.0rem;
	}

	& .template-row {
		background-color: #eee;
		padding: 1.0rem;
	}

	& .cars-container {
		display: flex;
	}

}