/* 初期ダイアログ */
#helloDialog {
	height: 90vh;
	top: 5vh;

	.dialog-title {
		color: transparent;
		height: 4em;
		background-image: url(../../img/logo_title.png);
		background-repeat: no-repeat;
		background-size: auto 2em;
		background-position: 1em 1em;
	}

	.dialog-main-message {
		max-height: unset;
	}

	#hello-menu {
		display: flex;
		width: calc(100vw - 20em);
		justify-content: space-around;

		>div.hello-menu-container {
			display: block;
			user-select: none;
			border: 2px solid var(--formation-table-main-border);
			text-align: center;
			padding: 1em 2em;
			margin: 15vh 3em;
			width: 35vh;
			background-color: var(--table-alternate-color-1);
			cursor: pointer;
			border-radius: 5px;

			&:hover {
				background-color: var(--sub-light-color);
			}

			>div>img {
				width: 100%;
			}

			>p {
				margin: 0;
				font-size: 95%;

				&.title {
					font-size: 130%;
					font-weight: bold;
				}
			}
		}
	}
}